<template>
  <v-card>
    <v-card-title>Received Notifications</v-card-title>

    <v-card-text>
      <template v-if="!$subReady.notifications">
        Loading...
      </template>
      <template v-else-if="!parsedNotifications.length">
        You have not received any notifications yet
      </template>
      <template v-else>
        <v-alert
            v-for="notification in parsedNotifications"
            :key="notification._id"
            :type="notification.type"
            dense
        >Your submission of document <strong>{{notification.documentName}}</strong> was <strong>{{notification.statusLabel}}</strong></v-alert>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
import {Notifications} from "/imports/both/collections";

export default {
  name: 'ReceivedNotifications',
  meteor: {
    $subscribe: {
      notifications: [],
    },
    notifications() {
      return Notifications.find();
    },
  },
  computed: {
    parsedNotifications() {
      if (!this.notifications?.length) return [];

      return this.notifications.map((notification) => ({
        ...notification,
        type: notification.documentStatus === 'approved' ? 'success' : 'error',
        statusLabel: notification.documentStatus === 'approved' ? 'Approved' : 'Rejected'
      }));
    },
  },
}
</script>

<style scoped>

</style>