<template>
  <v-card>
    <v-card-title>Send Notification</v-card-title>
    <v-card-text>
      <v-form
        v-model="formValid"
        ref="form"
      >
        <v-text-field
          label="Document Name"
          v-model="input.documentName"
          :rules="rules.documentName"
          outlined
        />

        <v-select
            label="Document Approval Status"
            v-model="input.documentStatus"
            :rules="rules.documentStatus"
            :items="approvalStatusItems"
            :menu-props="{offsetY: true}"
            outlined
        />

        <v-select
            label="Target Users"
            v-model="input.targetUserIds"
            :rules="rules.targetUserIds"
            :items="userSelectItems"
            :menu-props="{offsetY: true}"
            chips
            outlined
            multiple
        />

        <v-btn
          :disabled="!formValid"
          color="primary"
          @click="sendNotification"
        >Send Notification</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SendNotification',
  data() {
    return {
      formValid: true,
      submitting: false,
      input: {
        documentName: '',
        documentStatus: '',
        targetUserIds: [],
      },
      approvalStatusItems: [
        {text: 'Approved', value: 'approved'},
        {text: 'Rejected', value: 'rejected'},
      ],
      rules: {
        documentName: [
            v => !!v || 'Document name is required',
        ],
        documentStatus: [
            v => ['approved', 'rejected'].includes(v) || 'You must select a document status',
        ],
        targetUserIds: [
            v => v.length > 0 || 'You must select at least one target user',
        ],
      },
    };
  },
  meteor: {
    $subscribe: {
      userList: [],
    },
    userList() {
      return Meteor.users.find({}, {fields: {_id: 1}});
    },
  },
  computed: {
    userSelectItems() {
      const myUserId = Meteor.userId();

      return this.userList.map(({_id}) => {
        let text = `${_id}`;

        // We could remove ourselves from the list to prevent sending to ourselves, but it's easier for testing to
        // be able to target yourself
        if (_id === myUserId) {
          text += ' (me)';
        }

        return {text, value: _id};
      });
    },
  },
  methods: {
    sendNotification() {
      if (!this.formValid) return;

      Meteor.call('sendNotification', this.input, (err) => {
        if (err) {
          console.log('Error sending notification:', err);

          return;
        }

        this.clearInputs();
      });
    },
    clearInputs() {
      this.$refs.form.reset();
    },
  },
}
</script>

<style scoped>

</style>