<template>
  <v-container>
    <v-row>
      <v-col>
        <send-notification />
      </v-col>
      <v-col>
        <received-notifications />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import SendNotification from "./components/SendNotification.vue";
import ReceivedNotifications from "./components/ReceivedNotifications";

export default {
  components: {ReceivedNotifications, SendNotification},
}
</script>

<style lang="scss" scoped>
//Page SCSS
</style>